@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined');

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }
  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style: none;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }
html, body {
    height: 100%;
    font-family: "inter", sans-serif;
}

.container {
  width: 45vw;
  margin: auto;
}

.btn {
  display: flex;
  align-items: center;
  cursor:pointer;
  padding: 10px 20px;
  background: rgba(black, .55);
  color: white;
  font-size: 18px;
  font-weight: 550;
  border-radius: 8px;
  transition: 0.15s;

  &:hover {
    background-color: rgba(black, .7);
    backdrop-filter: blur(3px);
  }

  &:active {
    background: rgba(black, .9);
  }
}

.btns-container {
  display: flex;
  margin-top: 10px;

  &.btns-centered {
    justify-content: center;
  }
}