.bookmark-tile {
    background: rgba(black, 0.55);
    border-radius: 1rem;
    width: 110px;
    height: 110px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    cursor: pointer;
    transition: all .15s;

    &:hover {
        background-color: rgba(black, .7);
        backdrop-filter: blur(3px);
    }
    &:active {
        background-color: rgba(black, .8);
        transform: translateY(2px);
        transition: 0;
    }
}
.bookmark-tile img {
    max-width: 2rem;
    min-width: 2rem;
}
.tile-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.95);
    ///////Prevent text from wrapping and overflowing tile. Adds ellipses if text-overflow would occur.///////
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    //////////////////////////////////////////////////////////////////////////////////////////////////////////
}