<div class="add-note-wrapper has-blurred-white-bg container">
  <h2>New Note</h2>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <input
      ngModel
      name="title"
      type="text"
      class="textbox"
      placeholder="Enter title for new note..."
      required
    />
    <textarea
      class="textarea"
      ngModel
      name="content"
      placeholder="Enter note..."
    ></textarea>
    <div class="btns-container">
      <button routerLink="../" class="btn">Cancel</button>
      <button class="btn align-end">Add Note</button>
    </div>
  </form>
</div>
