<div class="add-bookmark-wrapper has-blurred-white-bg container">
  <h2>Add Bookmark</h2>
  <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
      <label class="form-label">Name</label>
      <input
        class="textbox"
        ngModel
        #textField="ngModel"
        name="name"
        type="text"
        placeholder="Enter bookmark name..."
      />
    </div>
    <div class="form-field">
      <label class="form-label">URL</label>
      <input
        class="textbox"
        ngModel
        #textField="ngModel"
        name="url"
        type="url"
        placeholder="URL must start with 'http://' or 'https://'"
        required
      />
    </div>
    <div class="btns-container">
      <button class="btn align-end">Add Bookmark</button>
      <button routerLink="../" class="btn">Cancel</button>
    </div>
  </form>
</div>
