<div class="todos-wrapper">
  <div class="container">
    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">Place-holder todo text.</p>
    </div>
    <div class="todo-item">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">
        Place-holder todo text that spans multiple lines. How much wood would a
        wood-chuck chuck if a wood-chuck could chuck wood?
      </p>
    </div>
  </div>
</div>
