.main {
    display: flex;
    flex-direction: column;
    background-color: deepskyblue;
    height: 100%;
}

.top-section-timeDate {
    background-color: purple;
    text-align: center;
    padding: 100px 0 50px;

    h1 {
        font-size: 100px;
        font-weight: bold;
        color: azure;
        text-shadow: 0px 1px 7px rgba(black, 0.10);
    }
    h2{
        font-size: 30px;
        color: white;
        text-shadow: 0px 1px 7px rgba(black, 0.2);
    }
}
.middle-section-bookmarks {
    background-color: darkgreen;
    flex-grow: 1;
}
.bottom-section-tabMenu {
    background-color: darkred;
}